<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
		
	<bean id="emp" name="employee" class="com.prowings.beanscopes.Employee" scope="prototype">
		<property name="id" value="10"></property>
		<property name="name" value="Sneha"></property>
		<property name="address" value="Pune"></property>
	</bean>
	
	<bean id="std" name="student" class="com.prowings.beanscopes.Student" >
		<property name="id" value="10"></property>
		<property name="name" value="Sneha"></property>
		<!-- <property name="address" ref="addr"></property> -->
		<lookup-method name="getAddress" bean="addr"/>
	</bean>
	
	<bean id="addr" name="address" class="com.prowings.beanscopes.Address" scope="prototype">
		<property name="pin" value="123456"></property>
		<property name="city" value="Pune"></property>
		<property name="country" value="India"></property>
	</bean>
</beans>